*,
::after,
::before {
  box-sizing: border-box;
}
@font-face {
  font-family: BwModelica;
  src: url(BwModelica-medium.otf);
}
html {
  background: rgb(121, 33, 192);
  display: flex;
  justify-content: center;
  background-image: url(XOBG.png);
  background-position-y: 100%;
  background-size: contain;
}
body,
html {
  font-family: BwModelica;
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  width: 80%;
  background: white;
  border: solid 1px black;
}
.content {
  min-width: 680px;
}
.header-nav {
  height: 60px;
  top: 0;
  padding: 0 40px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  justify-content: center;
}
.nav-logo-wordmark {
  color: rgb(121, 33, 192);
}
.middle-content {
  min-width: 680px;
  margin: 0;
  padding: 0;
  height: calc(100vh - 101px);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 100%;
}
.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.statistics-side-bar {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  height: 100%;
  min-width: 190px;
  margin: 0;
  padding: 5px;
  grid-column: 9;
  background: rgb(9, 156, 241);
  border-left: solid 1px black;
  overflow: auto;
}
.nav-statistics-meta {
  display: flex;
  justify-content: center;
}
.nav-statistics {
  color: rgb(121, 33, 192);
  font-weight: bold;
}
.match-results {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: solid 1px black;
  margin: 2px;
}
.x-results,
.o-results,
.draw-results {
  color: black;
  font-weight: bold;
}
.board-container {
  padding: 10px;
  min-width: 450px;
  grid-column: 1/9;
  margin-top: 100px;
  margin-bottom: calc(100vh - 1000px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

#round-winner-paragraph {
  color: rgb(121, 33, 192);
}

.game-btn-div {
  visibility: visible;
  margin-bottom: 5px;
  padding: 10px;
  margin: 10px;
}

.game-btn {
  width: 12em;
  height: 5em;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: solid 1px black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-btn:hover {
  font-weight: bold;
  border: solid 2px black;
}

.board {
  margin-top: 40px;
  background: rgb(0, 0, 0);
  display: none;
  grid-template: repeat(3, 150px) / repeat(3, 1fr);
  width: 450px;
  grid-gap: 6px;
  cursor: pointer;
}

.box {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.box:hover {
  transition: 1s;
  background: rgb(9, 156, 241);
}

.footer {
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgb(0, 0, 0);
  border: solid 1px black;
}

.footer {
  padding: 0 20px;
  font-style: italic;
  font-size: 12px;
  color: rgb(255, 255, 255);
}

.stat-table-box {
  color: white;
  font-size: 12px;
  font-style: italic;
}

.fa-circle-o,
.fa-times {
  color: rgb(121, 33, 192);
  font-size: 60px;
}
